meta(charset='utf-8')
// CSS
link(rel='stylesheet', type='text/css', href='css/screen.css')
link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic', rel='stylesheet')
// JS
script(src='js/app.js')
